*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
}
/* Navbar  part start */

nav{
    width: 100%;
    height:120px;
    background-color:#D02526 ;
  
}
.container{
    width: 1170px;
    height: 150px;
    margin: 0 auto;
}
.logo{
    width: 500px;
    height: 150px;
    float: left;
    padding-top: 10px;
    
}
.main-menu{
    width: 670px;
    height: 150px;
    float: left;
}
.contact{
    margin-left: 225px;
    height: 75px;
    width: 670px;
}
.number{
    float: left;
    margin-top: 30px;
    margin-left:50px;
    color: #f1f1f1;
}
.email{
    float: left;
    margin-top: 30px;
    margin-left:50px;
    color: #f1f1f1;
    
}
.menu{
    width: 670px;
    height: 75px;
    text-align: center;
    text-transform: uppercase;
  
    
}
.menu ul li a{
    font-size: 15px;
    padding: 0 10px;
    color: #f1f1f1;
   
}
/* Navbar  part end */
/* Banner  part end */
.benner{
    width: 100%;
    height: 500px;
    background-color: aqua;
}
.benner .benner-img img{
    margin-top: -30px;

}
/* Banner  part end */
/* Banner  part end */
#news{
    width: 100%;
    height: 50px;
    background-color: #2B2F33;
   
}
.news1{
    width: 200px;
    height: 50px;
    float: left;
    padding-top: 10px;
    color: #f1f1f1;

}
.news2{
    width: 700px;
    height: 50px;
    float: left;
    padding-top: 5px;
    color: #f1f1f1;
}
.news3{
    width: 270px;
    height: 50px;
    float: left;
    padding-top: 5px;
    padding-left: 40px;
    color: #f1f1f1;
}
/* Banner  part end */
/* Text  part Start */
#text{
    width: 100%;
    height: 500px;
    background-color: #DFE6F8;
    margin-bottom: 5px;
}
.text{
    width: 100%;
    height: 500px;
}
.text .text-part{ 
    width: 550px;
    height: 500px;
    float: left;
    padding-top: 50px;
    padding-right: 5px;
    font-size: 16px;
    box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);
-webkit-box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);
-moz-box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);

}
.text .text-part h1{ 
   padding-bottom: 10px;

}
.text .gap{ 
    width: 2pxpx;
    height: 450px;
    float: left;
    border: 2px solid #f1f1f1;
    padding: 5px 5px 5px 5px;
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);
-webkit-box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);
-moz-box-shadow: 18px -9px 19px 0px rgba(0,0,0,0.12);

}
.text .gap1{ 
    width: 65px;
    height: 500px;
    float: left;
    
   

}
.text .vedio{ 
    width: 525px;
    height: 350px;
    background: url(img/intro-video.jpg) no-repeat center;
    background-size: cover;
    float: left;
    margin-top: 50px;

}
.text .vedio .overlay{ 
    width: 100%;
    height: 100%;
    background-color: rgba(18,18,18, .5);

}
.text .vedio .overlay img{ 
    margin-top: 160px;
    margin-left: 250px;
    

}

/* Text  part end */
/* product  part end */
.heading1{
    width: 100%;
    height: 80px;
   background-color: #FFFFFF;
}
.heading1 .head{
   
    height: 80px;
    color: #D02526;
    text-align: center;
    padding-top: 60px;
}
.product-part{
    width: 100%;
    height: 320px;
    background-color: #FFFFFF;
    
    
}

.product1{
    width: 33%;
    height: 250px;
    float: left;
    padding-top: 10px;
    border: 2px solid red;
    margin: 1px 1px 1px 1px;
}
.product1 .product-img{
    text-align: center;
    padding-top: 50px;
}
.product1 .button{
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 5px;
    background-color: #2B2F33;
    margin-top: 30px;
    color: #f1f1f1;
}


/* product  part end */
/* feadback  part start */
.feadback{
    width: 100%;
    height: 500px;
    background: url(img/client-feedback.jpg) no-repeat center;
    background-size: cover;
}
.feadback  .overlay{ 
    width: 100%;
    height: 100%;
    /* background-color: rgba(18,18,18, .9); */
    background-color: rgba(233, 234, 240, .7);

}
.feadback  .fedback1{ 
    width: 85px;
    height: 500px;
    float: left;
    padding-top: 200px;
   

}
.feadback  .fedback2{ 
    width: 1000px;
    height: 500px;
    float: left;
   

}
.feadback  .fedback2 .feadback-p{ 
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 100px;
    
   
   

}
.feadback  .fedback2 .feadback-q{ 
    width: 100%;
    height: 300px;
    /* background-color: #D02526; */
    position: relative;
    

}
.feadback  .fedback2 .feadback-q .fedback-c{ 
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    background-color: #444444;
    position: absolute;
    margin-top: 55px;
    border-radius: 10px;

    

}
.feadback  .fedback2 .feadback-r{ 
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: -60px;
    
}
.feadback  .fedback3{ 
    width: 85px;
    height: 500px;
    float: left;
    padding-top: 200px;
   

}
/* feadback  part end */
/* icone  part Start */
.icone{
    width: 100%;
    height: 250px;
    background-color: #FFFFFF;
}
.icone .icone1{
    width: 20%;
    float: left;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding-top: 50px;
}
/* icone  part end */
/* footer  part end */
.footer{
    width: 100%;
    height: 250px;
    background-color: #2B2F33;
}
.footer .ft1{
    width: 33%;
    height: 250px;
    float: left;
    color: #f1f1f1;
    border-right: 2px solid #f1f1f1;
    padding-top: 50px;
    padding-left: 5px;
}
.footer .ft3{
    width: 33%;
    height: 250px;
    float: left;
    color: #f1f1f1;
    padding-top: 50px;
    padding-left: 5px;
}
.footer .ft3 .social{
    padding: 50px 50px;
}
.footer .ft3 .social i{
    padding: 0 25px;
    font-size: 30px;
    border: 2px solid red ;
    border-radius: 100% ;
}

/* footer  part end */
/* footer-bottom  part end */
footer{
    width: 100%;
    height: 50px;
    background-color: #D02526;
}
footer .footer1{
    width: 500px;
    height: 50px;
    float: left;
    color: #f1f1f1;
   padding-top: 10px;
    
}
footer .footer2{
    width: 470px;
    height: 50px;
    
    float: left;
}
footer .footer3{
    width: 200px;
    height: 50px;
    float: left;
    color: #f1f1f1;
    padding-top: 10px;
}
/* footer-bottom  part end */
